code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background: linear-gradient(#0988A9, #052D38); */
  background-color: #FFDDA6 !important;
  height: 100vh;
}


